/* Reset default browser margin/padding for a true full-screen. */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Make the main container fill the entire viewport. */
.TasksMain {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: flex; /* Activate Flexbox */
    flex-direction: row; /* Horizontal alignment */
    background-color: #f0f2f5; /* A light background to see the container */
}

.TaskContainer {
    /* Make it a flexbox */
    display: flex;
    flex-direction: column;
    min-height: 0;

    flex: 1; /* Make it grow by a factor of 1 */
    position: relative;
    transition: all 0.4s ease-in-out;
    background-color: #f6f1f9;
}

.TaskContainer.collapsed {
    flex: 0 0 0px;
    min-width: 0px;
}

.Task {
    /* Make the content scrollable if overflows */
    flex-grow: 1;
    overflow-y: auto;
}

.TaskNav {
    /* Makes the 'Hide' button stay ontop of the container while scrolling */
    position: sticky;
    top: 0;
    /* Use the same background as the container to hide content scrolling underneath */
    background-color: #f6f1f9; 
    /* Ensures the nav bar stays on top of the scrolling content */
    z-index: 1; 
}

.TaskExpandBtn {
    /* Position the button at the top left corner */
    position: absolute;
    top: 0;
    left: 0;
    /* Move it hang out of the parent container */
    transform: translate(-100%, 0%);
}

.hidden {
    display: none;
}

.Tasks {
    flex: 2; /* Make it grow by a factor of 2 */
    min-width: 0px;
    /* Uncomment it later for the PC users */
    /*min-width: calc(100vw * 2 / 3);*/
}

.TaskRow:hover {
    background-color: gray;
    transition: all 0.4s ease-in-out;
}

.AssignmentRowHover:hover {
    background-color: gray;
    transition: all 0.4s ease-in-out;
}
