<!-- From assignments we have -->
<!-- username (who is assigned to) -->
<!-- assigned_by (who assigned the task to this user) -->
<!-- status ('assigned', 'in_progress', 'awaiting_review', 'revision_requested', 'closed')-->
<!-- score (score of the solution after the task is completed) -->
<!-- ai_score (same as previous but from ai) -->
<!-- feedback (feedback from an admin after the task is completed) -->

<!-- From task we have -->
<!-- creator_username (who created the task) -->
<!-- task_type ('classification', 'ranking', 'code', 'free') -->
<!-- content (the main task content) -->
<!-- creation_timestamp (when the task was created) -->
<!-- deadline -->
<!-- status ('open', 'in_review', 'completed') -->

<!-- From submissions we have -->
<!-- submitted_answer -->
<!-- timestamp (when the submission is submitted )-->
<!-- submitted_by (an author of the submission) -->

<h1 style="color:green;">Hello from assignment.html id: {{ task_id }}</h1>
