<!-- From assignments we have -->
<!-- username (who is assigned to) -->
<!-- assigned_by (who assigned the task to this user) -->
<!-- status ('assigned', 'in_progress', 'awaiting_review', 'revision_requested', 'closed')-->
<!-- score (score of the solution after the task is completed) -->
<!-- ai_score (same as previous but from ai) -->
<!-- feedback (feedback from an admin after the task is completed) -->

<!-- From task we have -->
<!-- creator_username (who created the task) -->
<!-- task_type ('classification', 'ranking', 'code', 'free') -->
<!-- content (the main task content) -->
<!-- creation_timestamp (when the task was created) -->
<!-- deadline -->
<!-- status ('open', 'in_review', 'completed') -->

<!-- From submissions we have -->
<!-- submitted_answer -->
<!-- timestamp (when the submission is submitted )-->
<!-- submitted_by_id (an author of the submission) -->

<!--<h1 style="color:green;">Hello from assignment.html</h1>-->
<!--<h1 style="color:green;">task_id: {{ task_id }}</h1>-->
<!--<h1 style="color:green;">assignment_id: {{ assignment_id }}</h1>-->

<p>Task created at: {{ task_creation_timestamp }}</p>
<p>Updated at: {{ last_submission }}</p>
<p>Assigned at: {{ assigned_at }}</p>
<p>Task status: {{ task_status }}</p>
<p>Assignment status: {{ assignment_status }}</p>
<p>Task author: {{ task_creator_username }}</p>
<p>Task type: {{ task_type }}</p>
<p>Deadline: {{ task_deadline }}</p>
<p>Task Content {{ task_content }}</p>
<p>Assigned by: {{ assigned_by_name }}</p>

<!-- CHAT AREA -->
<div id="messages-container">
    {% if submissions %}
        {% for submission in submissions %}
            <div class="message-group" data-sender-name="{{ submission['submitted_by_name'] }}" data-timestamp="{{ submission['timestamp'] }}">
                <div class="message-bubble">
                    <p>{{ submission['submitted_answer'] }}</p>
                </div>
                <div class="message-meta">
                    <span class="sender-name">{{- submission['submitted_by_name'] }}</span> at
                    <span class="dynamic-timestamp" data-timestamp="{{ submission['timestamp'] }}">
                        {{- submission['timestamp'] -}}
                    </span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p id="no-messages-placeholder">NO MESSAGES</p>
    {% endif %}
</div>
<div>
    <form id="submission-form" data-assignment-id="{{ assignment_id }}" data-current-user-name="{{ current_username }}">
        <input name="submitted_answer" type="text" placeholder="Type your message..." autocomplete="off">
        <button type="submit">Submit</button>
    </form>
</div>
