<!-- Task data is task_type (classification,
ranking, code or free),
content (text),
gold_standart_answer (text),
deadline (datetime)-->
<!-- Task creation form -->
{% for username in users %}
    <h1>{{username}}</h1>
{% endfor %}
<h1 style="color:green;">Hello from create-task</h1>
<form action="/tasks" method="post">
    <span>Task type:</span>
    <select>
        <option disabled selected>None</option>
        <option>Classification</option>
        <option>Ranking</option>
        <option>Code</option>
        <option>Free</option>
    </select>
</form>

