<!-- Task data is task_type (classification,
ranking, code or free),
content (text),
gold_standart_answer (text),
deadline (datetime)-->
<!-- Task creation form -->
<h1 class="CreateTaskHeader">Create a New Task</h1>
<form action="/tasks" method="post">
    <!-- Form identifier -->
    <input type="hidden" name="task_creation_form" value="create_task">

    <div class="form-field">
        <label for="task-content">Task content:</label>
        <input id="task-content" name="content" type="text" autocomplete="off">
    </div>
    <div class="form-field">
        <label for="task-gsa">Gold Standard Answer:</label>
        <input id="task-gsa" name="gsa" type="text" autocomplete="off">
    </div>
    <div class="form-field">
        <label for="task-type-select">Task type:</label>
        <select id="task-type-select" name="task_type">
            <option disabled selected>Select a type</option>
            <option>Classification</option>
            <option>Ranking</option>
            <option>Code</option>
            <option>Free</option>
        </select>
    </div>
    <div class="form-field">
        <label for="task-worker-select">Worker:</label>
        <select id="task-worker-select" name="worker">
            <option disabled selected>None</option>
            {% for username in users %}
                <option>{{username}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-field">
        <label for="task-deadline">Deadline:</label>
        <input id="task-deadline" type="datetime-local" name="deadline">
    </div>
    <div class="form-actions">
        <button type="submit" class="m3-button-filled">Create Task</button>
    </div>
</form>

